APP_PORT=8080

POSTGRES_USER=khub
POSTGRES_PASSWORD=khub_password
POSTGRES_DB=knowledge_hub
POSTGRES_PORT=5432
DATABASE_URL=postgres://khub:khub_password@localhost:5432/knowledge_hub?sslmode=disable

REDIS_PORT=6379
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/web/auth/google/callback
JWT_SECRET=2130798124hidwquv676214
